<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="5.0.0-alpha08" />
  <package id="Microsoft.MixedReality.QR" version="0.5.3011" />
  <package id="Microsoft.VCRTForwarders.140" version="1.0.5" />
  <package id="Newtonsoft.Json" version="13.0.1" />
</packages>